/* ***
 * Accessible calendar styles.
 */

.calendar {
  width: 100%;

  caption {
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: left;
  }

  th, td {
    border: 1px solid $white;
    padding: 0.5rem;
    text-align: left;

    @media screen and ( min-width: $lg-screen ) {
      width: calc( 100% / 7 );
    }
  }

  th {
    background: $table-header;
    color: $white;

    @media screen and ( max-width: $lg-screen ) {
      display: none;
    }
  }

  td {
    background: $table-cell-small;

    @media screen and ( max-width: $lg-screen ) {
      display: block;
    }

    @media screen and ( min-width: $lg-screen ) {
      background: $table-cell-large;
      height: 5rem;
    }

    // Empty day cells.
    &.empty {
      background: $table-cell-empty;

      @media screen and ( max-width: $lg-screen ) {
        display: none;
      }
    }

    // Date display for large screens.
    .day span {
      @media screen and ( min-width: $lg-screen ) {
        display: none;
      }
    }

    // List of day's events.
    .events {
      font-size: 0.9rem;
      margin: 1rem 0 0;
    }
  }
}
